.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

nav{
  text-align: center;
}

#nav-area1{
  text-align: center;
]}

body{

}

.area1{
  background-color: hsl(0, 0%, 98%);
  font-size: 18px;
}

.area1a{
  width: 50%;
}


#area2{
  background-color: hsl(220, 16%, 96%);
  font-size: 18px;
  text-align: center;
}

.reasons {
  display: inline-block;
  width: 25%;
  background-color: hsl(0, 0%, 100%);
}

#Latest{
  background-color: hsl(0, 0%, 98%);
  text-align: center;
}


.card {
  display: inline-block;
  width: 22%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  background-color: hsl(0, 0%, 100%);
  padding: 5px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 5px;
}

#request-button{
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;

}


footer {
  background-color: hsl(233, 26%, 24%);
  font-size: 18px;
  color: white;
  padding: 80px;
  border-top: 80px;
  text-align: center;

}
