.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

nav{
  text-align: center;
}

body{

}

#area1{
  background-color: hsl(0, 0%, 98%);
  display: inline-block;
  width: 50%;
  font-size: 18px;
  text-align: center;
  padding: 15px;
}



#nav-area1{
  text-align: center;
  /* letter-spacing: 4px; */
}

#area2{
  background-color: hsl(220, 16%, 96%);
  font-size: 18px;
  text-align: center;
}

#Latest{
  background-color: hsl(0, 0%, 98%);
  text-align: center;
}


.card {
  display: inline-block;
  width: 23%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  background-color: hsl(0, 0%, 100%);
  padding: 5px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding-left: 5px;
  padding-right: 5px;
}


footer {
  background-color: hsl(233, 26%, 24%);
  font-size: 18px;
  color: white;
  padding: 80px;
  border-top: 80px;
  text-align: center;

}
